@charset "utf-8";
/* CSS Document */

/*
* The common things
*/

body {
    color: #333;
    background: #FAFAFA !important;
    padding-bottom: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
    font-size: 16px;
    transition-duration: 0.5s;
}

a {
    color: #337ab7;
}

a:hover, a:visited {
    color: #0066FF;
}

a.btn {
    color: #FFF;
}

* {
    padding: 0;
    margin: 0;
}

hr {
    margin-bottom: 5px;
}

small {
    color: rgba(0, 0, 0, 0.75) !important;
}

.progress {
    height: 18px;
}
.progress-bar {
    padding-top: 3px;
    font-size: 0.9em;
    transition-duration: 1s;
}
.page-header {
    margin: 20px 0 30px;
}
#query-result {
    margin-top: 0.6em;
}
.panel>.table-bordered>tbody>tr:first-child>td, .panel>.table-bordered>tbody>tr:first-child>th, .panel>.table-bordered>thead>tr:first-child>td, .panel>.table-bordered>thead>tr:first-child>th, .panel>.table-responsive>.table-bordered>tbody>tr:first-child>td, .panel>.table-responsive>.table-bordered>tbody>tr:first-child>th, .panel>.table-responsive>.table-bordered>thead>tr:first-child>td, .panel>.table-responsive>.table-bordered>thead>tr:first-child>th {
    white-space: nowrap;
}

.container {
    padding: 0 40px;
}

.card {
    background: #FFF;
    border-radius: 1px;
    margin: 15px 0 0 0;
    padding: 3% 10%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
    transition-duration: 0.5s;
    display: block;
}

.nav>li>a:visited {
    color: #337ab7;
}

.nav .active a {
    color: white !important;
}

.modal-content {
    border: none;
    border-radius: 2px;
}

.head-nav>ul>li>a {
    cursor: pointer;
}

.index-query {
    margin-top: 1em;
    max-width: 45em;
    margin-left: auto;
    margin-right: auto;
}
.index-intro {
    margin-top: 1.6em;
    text-align: center;
}
.index-intro>p {
    font-size: 1em;
    line-height: 0.8;
}

.tight {
    padding: 0;
    margin: 0;
}

.footer {
    text-align: center;
}
.footer p {
    line-height: 0.35em;
    font-size: 1em;
}
.footer hr {
    margin-bottom: 0.8em;
    color: black;
}

.alert-sign {
    font-size: 20px;
}

@media (max-width: 992px) {
    .container {
        margin-top: 15px;
    }
}

@media (min-width: 992px) {
    .container {
        width: auto;
        max-width: 1050px;
    }
    .head-nav {
        margin-top: 2em;
    }
    .head-nav>ul {
        float: right !important;
    }
}

/*
* The rotating things
*/

.back-hidden {
    transform: rotateY(90deg);
}
.front-hidden {
    transform: rotateY(-90deg);
}

/*
* The form things
*/

.form-group {
    margin-bottom: 0.6em;
}
.form-submit-group {
    margin-top: 20px;
}
.form-control:focus {
    border: 2px solid #FF7373;
}
label {
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: 0;
}
.floating-label {
    position: absolute;
    padding: 8px 12px;
    height: 42px;
    line-height: 1.8;
    color: #BDC3C7;
    top: 0;
    transition: 0.8s, color 0.3s;
}
input:focus + .floating-label {
    color: #E74C3C !important;
}
input:valid + .floating-label.form-input-on {
    color: #95A5A6;
}
input:invalid + .floating-label.form-input-on ,
input:valid + .floating-label.form-input-on ,
input:focus + .floating-label.form-input-on {
    top: 14px;
    right: 8px;
    font-size: 80%;
}
input:invalid + .floating-label.form-input-on {
    color: #E74C3C !important;
}

/*
* The border things
*/

.top-border-red {
    border-top: 5px solid #FF7373;
    padding-top: 10px;
}
.top-border-blue {
    border-top: 5px solid #0066FF;
    padding-top: 10px;
}
.top-border-orange {
    border-top: 5px solid #FF6600;
    padding-top: 10px;
}
.left-border-red {
    border-left: 6px solid #FF7373;
    padding-left: 5px;
}
.left-border-blue {
    border-left: 6px solid #56A5EB;
    padding-left: 5px;
}
.left-border-orange {
    border-left: 6px solid #FF6600;
    padding-left: 5px;
}

/*
* The gotop button
*/
.gotop {
    bottom: 50px;
    right: -60px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-align: -webkit-center;
    position: fixed;
    text-decoration: none;
    background-color: #E74C3C;
    z-index: 9;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    transition-duration: 0.5s;
    opacity: 0.9;
}
.gotop:hover {
    background-color: #E73934;
}
.gotop span {
    width: 50px;
    height: 50px;
    color: white;
    padding-top: 10px;
    font-size: 27px;
    text-align: center;
    padding-right: 2px;
}
.gotop-show {
    transform: translateX(-100px);
    -webkit-transform: translateX(-100px);
}

/* For mobile devices */
@media (max-width: 992px) {
    .new-line-992 {
        display: block;
    }
}

/* And smaller ones */
@media (max-width: 768px) {
    .new-line-768 {
        display: block;
    }
    .container {
        padding: 0 15px 0 15px;
    }
    .new-line-768 {
        display: block;
    }
    .new-line-768 small {
        margin-top: 12px;
    }
}

/* So smalllllll */
@media (max-width: 500px) {
    .new-line-500 {
        display: block;
    }
    .hidden-500 {
        display: none;
    }
}
@media (max-width: 400px) {
    .new-line-400 {
        display: block;
    }
    .hidden-400 {
        display: none;
    }
}

/*
* The buggy things
*/

.btn-danger {
    color: #fff !important;
    background-color: #e74c3c !important;
}
.btn-danger:hover {
    background-color: #fb4c3c !important;
}
.btn-danger:active {
    background-color: #C0392B !important;
}
.input-group-btn .btn {
    border: 0;
}
.progress-bar-striped, .progress-striped .progress-bar {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent) !important;
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent) !important;
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent) !important;
    -webkit-background-size: 40px 40px !important;
    background-size: 40px 40px !important;
}

h1, .h1 {
    font-size: 53px;
}
h2, .h2 {
    font-size: 40px;
}
h3, .h3 {
    font-size: 29px;
}
h4, .h4 {
    font-size: 28px;
}
h5, .h5 {
    font-size: 24px;
}